
@{
    ViewBag.Title = "RecoverPassword";
}



<form method="post" action=" ">
    <div class="container row form-group">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>}



            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>RecoverPassword</h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <label>UserName</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" name="username" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <label>Mothers Maid's' Name </label>
                </div>
                <div class="col-lg-6">
                    <input type="text" name="security" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6  text-center">
                    <button type="Submit" class="btn btn-primary">Back</button>
                </div>
                <div class="col-lg-6  text-center">

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <br />


        </div>
        <div class="col-lg-4">
        </div>

    </div>
</form>
